*{
    background-color: DarkOrange;
    color: Beige;
}

input{
    background-color: Beige;
    color: DarkORange;
}

.invalid{
    background-color: #ff3232;
}

.valid{
    background-color: Beige;
}
