*{
    background-color: DarkOrange;
    color: Beige;
}

input{
    background-color: Beige;
    color: DarkORange;
}

[aria-invalid="true"]{
    background-color: #ff3232;
}

[aria-invalid="false"]{
    background-color: Beige;
}
